In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

In [2]:
data = pd.read_csv("./50_Startups.csv")

In [3]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
data["State"].value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

In [10]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [7]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [8]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [9]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [11]:
states = pd.get_dummies(X["State"], drop_first = True)

X = X.drop(columns = ["State"], axis = 1)

In [12]:
X = pd.concat([X, states], axis = 1)

In [13]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [17]:
y_pred = regressor.predict(X_test)

In [18]:
y_pred[:5]

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055])

In [22]:
from sklearn.metrics import r2_score  # the number of variance explained by fitting the plot

In [23]:
score = r2_score(y_test, y_pred)

In [24]:
score

0.9347068473282423